@use "../../styles/variable.scss" as *;

$title-font-size: 1.5rem;

.register-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    @include flex-center;
    
    .register-content {
        width: 32rem;
        height: 24rem;
        padding: 1rem;
        @include flex-center;
        flex-direction: column;
        background-color: $interactive-component;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        border-radius: $interactive-component-radius;

        .company-name {
            text-align: center;
            font-size: $title-font-size;
            width: 100%;
            color: $primary-text-color;
             span {
                color: $secondary-text-links;
                font-weight: 600;
             }
        }

        .form-group {
            width: 70%;
            margin-top: 2rem;

            .input-group:nth-child(2) {
                margin-top: 1.5rem;
              }

              .input-group:nth-child(3) {
                margin-top: 1.5rem;
              }

              .input-group:nth-child(4) {
                margin-top: 1.5rem;
              }
              

            .input-group {
                width: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: .5rem;
                color: $primary-text-color;

                .icon {
                    @include flex-center;
                }

                .input {
                    @include flex-center;
                    width: 100%;
                    input {
                        width: 100%;
                        height: 2rem;
                        border: none;
                        border-bottom: 2px solid $border-separator;
                        background-color: $interactive-component;

                        &:focus {
                            border-bottom: 2px solid $borderfocus-rings;
                            outline: none
                        }
                    }
                }
            }
            
        }

        .action {
            margin-top: 2.5rem;
            @include flex-center;
            flex-direction: column;

            & > div {
                width: 6.5rem;
                @include flex-center;
                cursor: pointer;
            }

            .submit-form {
                border-radius: $button-radius;
                padding: .4rem;
                background: $solid-background;
                color: $background;
                gap: .5rem;

                .spinner {
                    width: 20px;
                    height: 20px;
                    border: 3px solid rgba(255, 255, 255, 0.3);
                    border-radius: 50%;
                    border-top-color: var(--white);
                    animation: spin 1s ease-in-out infinite;
                }

                @keyframes spin {
                    to { transform: rotate(360deg); }
                }

                .hidden {
                    display: none;
                }
            }

            .forgot-password {
                color: $secondary-text-links;
                margin-top: .5rem;
            }
            .register {
                color: $secondary-text-links;
                margin-top: .5rem;
            }
        }
    }

    @media (max-width: 555px) {
        .login-content {
            background: $background;
            box-shadow: none;
            padding: 2rem;

            .form-group { 
                width: 100%;

                .input-group {
                    .input {
                        input {
                            background-color: $background;
                        }
                    }
                }
            }
        }    
    }
}