.admin-dashboard {
  display: flex;
  min-height: 100vh;
  background-color: #f8f9fa;
  
  @media (max-width: 992px) {
    .admin-aside {
      transform: translateX(-100%);
      
      &.open {
        transform: translateX(0);
      }
    }
  }
}